.photo {
    &__wrapper{ 
        background-color: rgb(251, 230, 206);
        border-radius: 5px;
        height: 30rem;
        width: 21rem;
        margin-top: 2rem;
    }
    &__image{
        width: 20rem;
        height: 100%;
        padding: 1rem;
    }
}