.header{
    &__wrapper{
     display: flex;
     background: rgb(255,254,251);
     background: radial-gradient(circle, rgba(255,254,251,1) 11%, rgba(254,242,190,1) 35%, rgba(73,61,37,1) 82%);
    }
    &__logo{
        height: 100%;
        width: 15rem;
        margin: auto;

    }
}