.header{
    &__wrapper{
     display: flex;
     background: rgb(255,254,251);
    background: radial-gradient(circle, rgba(255,254,251,1) 11%, rgba(230,209,117,1) 35%, rgba(110,78,1,1) 82%);
     }
    &__logo{
        height: 100%;
        width: 15rem;
        margin: auto;

    }
}